<div>
  <button (click)="onSelectUser()">
    <!-- String interpolation is only recommended to use in between the tags for the property we can use the property binding approach to reach from the object -->
    <!-- <img src="{{ selectedUser.avatar }}" /> -->

    <!-- Still by using the property binding approach we are making the template code little complex to prepare the file path , to handle this we can create an getImagePath method in the typescript file which returns the file path and we can get that fill path here -->
    <img [src]="imagePath" [alt]="name" />

    <!-- String interpolation to access the variable data -->
    <!-- <span>{{ selectedUser.name }}</span> -->
    <!-- To access signal values we cannot directly use the variable name. fielname as we did above -->
    <span>{{ name }}</span>
  </button>
</div>
